<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-view>
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- 秒拍鸽子 -->
  <ion-tab title="秒拍鸽子" icon-off="mpgz1" icon-on="mpgz" href="#/tab/SecKill">
    <ion-nav-view name="SecKill"></ion-nav-view>
  </ion-tab>

  <!-- 赛鸽购买 -->
  <ion-tab title="赛鸽购买" icon-off="sggm1" icon-on="sggm" href="#/tab/buy">
    <ion-nav-view name="buy"></ion-nav-view>
  </ion-tab>

  <!-- 个人中心 -->
  <ion-tab title="个人中心" icon-off="grzx1" icon-on="grzx" ng-click="goPerson()">
    <ion-nav-view name="person"></ion-nav-view>
  </ion-tab>


</ion-tabs>
</ion-view>
