<ion-view class="aboutUs" hide-tabs="true">
  <ion-header-bar>
    <button class="button button-clear ion-chevron-left" onclick="javascript:history.go(-1);"></button>
    <div class="h1 title">关于我们</div>
  </ion-header-bar>
  <div class="message">
    <p>
      <img src="img/Bigicon.png">
    </p>
    <span class="text_pigeon">威力拍鸽</span>
    <span>V1.0</span>
    <div>版权所有：陕西威力赛鸽公棚<br>
       电话：029-86675898&#12288;86671839<br>
       传真号码：86675898&#12288;86671839<br>
       地址：西安市未央区
    </div>
  </div>
  </ion-content>
</ion-view>
