<ion-view class="register login" hide-tabs="true">
	<ion-header-bar>
		<button class="button button-clear ion-chevron-left" onclick="javascript:history.go(-1);"></button>
		<div class="h1 title">修改密码</div>
	</ion-header-bar>
	<div class="message">
		<p><img src="img/Bigicon.png"></p>
		<div class="input">
			<div>
				<a>
					<i class="icon ion-android-call"></i>
					<input type="text" placeholder="手机号码" ng-model="vm.phoneNumber"/>
				</a>
				<a>
					<i class="icon ion-android-textsms"></i>
					<input type="text" placeholder="验证码" ng-model="vm.reCode"/>
				</a>
				<a id="newPsd">
					<i class="icon ion-locked"></i>
					<input type="password" placeholder="新密码" ng-model="vm.newPsd"/>
				</a>
				<h6>
				    <span  class="msgs" ng-click="getReCode()">获取验证码</span>
			    </h6>
			</div>
			<button ng-click="changePsd()">修改</button>
		</div>
	</div>
	</ion-content>
</ion-view>
