<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/popup.css"/>
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/http-utils.js"></script>
    <script src="js/time-utils.js"></script>
    <script src="js/config.js"></script>
    <script src="js/crypto-js.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>

  </head>
  <body ng-app="app" ng-controller="tabCtrl">
    <ion-nav-view>
      <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-hide="$root.hideTabs">

        <!-- 秒拍鸽子 -->
        <ion-tab title="秒拍鸽子" icon-off="mpgz1" icon-on="mpgz" href="#/SecKill" ng-click="goSecKill()" nav-transition="none">
        </ion-tab>

        <!-- 赛鸽购买 -->
        <ion-tab title="赛鸽购买" icon-off="sggm1" icon-on="sggm" href="#/buy" ng-click="goBuy()" nav-transition="none">
        </ion-tab>

        <!-- 个人中心 -->
        <ion-tab title="个人中心" icon-off="grzx1" icon-on="grzx" href="#/person" ng-click="goPerson()" nav-transition="none">
        </ion-tab>


      </ion-tabs>
    </ion-nav-view>
  </body>
</html>
