<ion-view view-title="buy" hide-tabs="false">
  <ion-header-bar class="seckill">
    <p>赛鸽购买
      <m-loading></m-loading>
    </p>
  </ion-header-bar>
  <ion-content class="buy-content" style="margin-bottom: 30px">
    <ion-refresher on-refresh="doRefresh()" spinner="dots"></ion-refresher>
    <ion-list>
      <ion-item ng-repeat="item in vm.items" class="buy-game"  ng-click="goBuy($index)">
        <p>{{item.Title}}</p>
        <img ng-src="{{item.Preview_Img}}"/>
        <span>一口价:<strong>￥{{item.Price}}</strong></span>
        <button ng-click="goBuy($index)">立即购买</button>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="vm.moredata" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
